@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600&display=swap');

* {
  font-family: 'Hind', sans-serif;
}

body {
  min-width: 320px;
  font-size: calc(10px + 0.33vw);
  color: #333;
}

main {
  padding: 5em 10vw;
}

h1 {
  font-weight: 600;
}

p {
  font-size: 1.6em;
  max-width: 28em;
  font-weight: 300;
}

a {
  color: #06c;
  text-decoration: unset;
  position: relative;
  font-size: 3rem;
}
